/* SkillsSection.css */
.skills-section {
  font-family: "Exo 2", sans-serif;
  color: #fff;
  /* padding: 2em 2em; */
  text-align: center;
  max-width: 100%;
  /* margin: 0 auto; */
  /* margin-bottom: 2em; */
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  color: #07eeff;
}

.section-description {
  font-size: 1.4rem;
  margin-bottom: 2em;
  color: #ddd;
}

.accordion-container {
  margin-bottom: 3em;
}

.accordion-item {
  background-color: #181818;
  margin-bottom: 1em;
  padding: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-item:hover {
  background-color: #292929;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
}

.accordion-content {
  margin-top: 1em;
  font-size: 1.1rem;
  color: #bbb;
  transition: max-height 0.5s ease;
}

.arrow {
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}

.accordion-item.active .arrow {
  transform: rotate(180deg);
}

.services-section {
  /* background-color: #371B70; */
  background: linear-gradient(115deg, rgba(44, 3, 120, 1) 0%, rgba(0,64,163,1) 100%);
  padding: 2em;
  /* border-radius: 10px; */
}

.services-title {
  font-size: 2rem;
  margin-bottom: 1.5em;
  /* color: #07eeff; */
  color: #efffff;
  /* text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5); */
  text-shadow:  0 0 10px rgba(29, 214, 255, 0.3), /* Main glow */
              0 0 20px rgba(0, 204, 255, 0.2), /* Outer glow */
              0 0 30px rgba(27, 142, 199, 0.3); 
  /* text-shadow: 0 0 6px hsla(0, 0%, 0%, 0.5); */
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 50%;
  margin: 0 auto;
  gap: 1.5em;
}

.service-item {
  background: linear-gradient(180deg, rgb(68, 5, 186) 0%, rgb(1, 76, 188) 100%);
  padding: 1em;
  border-radius: 10px;
  transition: transform 0.3s;
  text-align: center;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: #fff;
}

.service-item p {
  font-size: 1.2rem;
  color: #f8def6;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
    width: 80%;
  }

  .section-description {
    font-size: 1rem;
  }

  .accordion-header {
    font-size: 1.2rem;
  }

  .services-container {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center; /* Ensure items are centered on smaller screens */
  }
  .service-item {
    max-width: 100%; /* Set a maximum width */
  }
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 1.5rem;
    width: 80%;
  }

  .section-description {
    font-size: 1rem;
  }

  .accordion-header {
    font-size: 1.2rem;
  }

  .services-container {
    width: 80%;
    grid-template-columns: 1fr; /* Single column layout for very small screens */
    justify-items: center; /* Ensure items are centered */
  }

  .service-item {
    max-width: 100%; /* Set a maximum width */
  }
}
