.tools {
    font-family: "Exo 2", sans-serif;
    background: linear-gradient(180deg, rgb(68, 5, 186) 0%, rgb(1, 76, 188) 100%);
    color: white;
    text-align: center;
    /* padding: em 5em; */
    /* padding: 4em 0.5em; */
    /* margin: 0 auto; */
    margin-bottom: 2em;
    max-width: 100%;
    /* border-radius: 10px; */
    /* margin-top: 30px; */
  }
  
  .tools-title {
    /* font-size: 2.6em;
    color: #9a6cff; */
    color: #efffff;
    text-shadow:  0 0 10px rgba(29, 214, 255, 0.3), /* Main glow */
                0 0 20px rgba(0, 204, 255, 0.2), /* Outer glow */
                0 0 30px rgba(27, 142, 199, 0.3);   
    font-size: 3rem;
    padding: 1em;
    /* margin-bottom: 1em; */
  }
  
  .tools-title span {
    font-weight: bold;
  }
  
  .tools-description {
    margin: 10px 0 30px;
    font-size: 18px;
    color: #ccc;
  }
  
  .tools-grid {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 40%;
    margin: 0 auto;
    gap: 1.5em;
    /* justify-content: center; */
    /* gap: 40px; */
    /* flex-wrap: wrap; */
  }
  
  .tools-card {
    background: linear-gradient(115deg, rgba(41, 0, 118, 0.7) 0%, rgba(1, 26, 62, 0.8) 100%);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 2em;
  }
  .tools-card:hover{
    background-color: #e120914f;
    /* border: 1px solid #f83486; */
    transform: scale(1.1);
  }
  .tools-icon {
    width: 50px;
    height: 50px;
  }
  
  .tools-card h3 {
    /* margin: 5px 0; */
    color: white;
  }
  
  .tools-card p {
    color: #17f3ff;
    margin: 0;
  }
  